{
 "target" : "pi32v2",
 "chip": "br25",
 "proj" : "br25_rom",
 "ptl" :  // protocol
 {
	"ver": 2, // debug protocol version
    "loader": // information of loaders
    {
        "file": "loader_jtag.bin", // loader name
        "loader_addr": 0xf00010,   // address of loader debug_stack 0xf00100
        "loader_info": 0xf04000,
        "cpukey_addr": 0xf00000    // address of cpu-key
    },
    "download":
    {
        "script": "download_jtag.bat" // batch file to download
    },
				//  core0,    core1
	"bpcon": 	 [0x10f080],	// running ?	
	"bsp":   	 [0x10f084],	// debug sp
	"cmd_pause": [0x10f098],	// running ?
    "reset_addr": 0x20002, // 下载 loader 前，复位后需要断点的地方
    "pwrcon": 0x10000,  // 用于控制软复位
    "pwrcon_bit": 4,     // 复位需要改的位
	
	"bp": [				// hardware breakpoints
		// core0  ,  core1
		[0x10f088],  // bp0
		[0x10f08c],	// bp1
		[0x10f090],	// bp2
		[0x10f094]	// bp3
	],
	"etm": [ // memory tracing
		{
			// CORE 0
			"con": 0x10f1c0,
			"wp": [
				// watch point 0
				{"addrh": 0x10f1d4, "addrl": 0x10f1d8,
				 "datah": 0x10f1dc, "datal": 0x10f1e0,
				 "pc"   : 0x10f1e4}
			]
		}
	],
	
	"rw": [				// read-write regions
		//[0x0000000, 0x10000]
	],

	"ro": [				// read-only regions		
		[0, 0x7fffffff]
	],
 
  

	"regs": {
		"count": 32,
		"info":
			[	// register mappings
				// "i" index of dwarf number
				// "o" offset in stack
				// "m" mapping to memory address
							//   core0,    core1
				{"i":  0, "m": [0x10f000], "o":   0, "n":   "r0"},
				{"i":  1, "m": [0x10f004], "o":   4, "n":   "r1"},
				{"i":  2, "m": [0x10f008], "o":   8, "n":   "r2"},
				{"i":  3, "m": [0x10f00c], "o":  12, "n":   "r3"},
				{"i":  4, "m": [0x10f010], "o":  16, "n":   "r4"},
				{"i":  5, "m": [0x10f014], "o":  20, "n":   "r5"},
				{"i":  6, "m": [0x10f018], "o":  24, "n":   "r6"},
				{"i":  7, "m": [0x10f01c], "o":  28, "n":   "r7"},
				{"i":  8, "m": [0x10f020], "o":  32, "n":   "r8"},
				{"i":  9, "m": [0x10f024], "o":  36, "n":   "r9"},
				{"i": 10, "m": [0x10f028], "o":  40, "n":  "r10"},
				{"i": 11, "m": [0x10f02c], "o":  44, "n":  "r11"},
				{"i": 12, "m": [0x10f030], "o":  48, "n":  "r12"},
				{"i": 13, "m": [0x10f034], "o":  52, "n":  "r13"},
				{"i": 14, "m": [0x10f038], "o":  56, "n":  "r14"},
				{"i": 15, "m": [0x10f03c], "o":  60, "n":  "r15"},
				// sfr
				{"i": 16, "m": [0x10f040], "o":  64, "n": "reti"},
				{"i": 17, "m": [0x10f044], "o":  68, "n": "rete"},
				{"i": 18, "m": [0x10f048], "o":  72, "n": "retx"},
				{"i": 19, "m": [0x10f04c], "o":  76, "n": "rets"},
				{"i": 20, "m": [0x10f050], "o":  80, "n":  "sr4"},
				{"i": 21, "m": [0x10f054], "o":  84, "n":  "psr"},
				{"i": 22, "m": [0x10f058], "o":  88, "n": "cnum"},
				{"i": 23, "m": [0x10f05c], "o":  92, "n":  "sr7"},
				{"i": 24, "m": [0x10f060], "o":  96, "n":  "sr8"},
				{"i": 25, "m": [0x10f064], "o": 100, "n":  "sr9"},
				{"i": 26, "m": [0x10f068], "o": 104, "n": "sr10"},
				{"i": 27, "m": [0x10f06c], "o": 108, "n": "icfg"},
				{"i": 28, "m": [0x10f070], "o": 112, "n":  "usp"},
				{"i": 29, "m": [0x10f074], "o": 116, "n":  "ssp"},
				{"i": 30, "m": [0x10f078], "o": 120, "n":   "sp"},
				{"i": 31, "m": [0x10f07c], "o":  68, "n":   "pc"}

			]
	}
 }
}
